<div *ngIf="renderedView === 'user'; then displayUser"></div>
<ng-template #displayUser>
    <app-client-menu (changeViewEvent)="renderedView=$event" [username]="username" [loggedInAsVIP]="loggedInAsVIP"></app-client-menu>
</ng-template>

<div *ngIf="renderedView === 'admin'; then displayAdmin"></div>
<ng-template #displayAdmin>
    <app-admin-menu (changeViewEvent)="renderedView=$event" [username]="username"></app-admin-menu>
</ng-template>

<div *ngIf="renderedView === 'login'; then displayLoginScreen"></div>
<ng-template #displayLoginScreen>
    <app-login-screen (changeViewEvent)="renderedView=$event" (sendUsernameEvent)="username=$event" (sendLoggedInStatusEvent)="loggedInAsVIP=$event"></app-login-screen>
</ng-template>