<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h3>Hello, {{ username }}</h3>
    <button mat-flat-button class="back-button" (click)="backToLoginScreen()">
        <span *ngIf="loggedInAsVIP">Logout</span>
        <span *ngIf="loggedInAsVIP == false">Back</span>
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <button mat-flat-button class="menu-button" (click)="onGenerateParkingTicket()">Generate parking ticket</button>
        <button mat-flat-button class="menu-button" (click)="onLeaveParkingLot()">Leave parking lot</button>
    </mat-sidenav>
    <mat-sidenav-content>

        <app-client-content *ngIf="displayContent" [clientContentToDisplay]="clientContentToDisplay" [loggedInAsVIP]="loggedInAsVIP"></app-client-content>

    </mat-sidenav-content>
</mat-sidenav-container>
