<mat-toolbar color="primary">Parking Lot App</mat-toolbar>
<div class="flex-container">
    <form #loginScreen="ngForm" (ngSubmit)="login(username.value, password.value, username.value)" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput ngModel name="user" #username required />
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput ngModel name="pass" #password required />
        </mat-form-field><br>
    
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</div>

