<div [ngSwitch]="clientContentToDisplay">

    <div *ngSwitchCase="'generateParkingTicket'">
        <form #generateParkingTicketForm="ngForm" (ngSubmit)="doGenerateParkingTicket()" novalidate>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput #name="ngModel" name="name" required [(ngModel)]="vehicleModel.driver.name" [class.is-invalid]="name.invalid && name.touched" />
                <mat-hint *ngIf="name.touched && name.errors?.required" class="visualErrorMessage">Name is required!</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Vehicle</mat-label>
                <mat-select #typeOfVehicle="ngModel" name="vehicle" required [(ngModel)]="vehicleModel.vehicleType" [class.is-invalid]="typeOfVehicle.invalid && typeOfVehicle.touched">
                    <mat-option value="MOTORCYCLE">Motorcycle</mat-option>
                    <mat-option value="CAR">Car</mat-option>
                    <mat-option value="TRUCK">Truck</mat-option>
                </mat-select>
                <mat-hint *ngIf="typeOfVehicle.touched && typeOfVehicle.errors?.required" class="visualErrorMessage">Vehicle type is required!</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Vehicle color</mat-label>
                <input matInput #color="ngModel" name="color" required [(ngModel)]="vehicleModel.color" [class.is-invalid]="color.invalid && color.touched"/>
                <mat-hint *ngIf="color.touched && color.errors?.required" class="visualErrorMessage">Color is required!</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" [class.mat-form-field-invalid]="tooExpensiveError || price.value > 10000">
                <mat-label>Vehicle price</mat-label>
                <input matInput #price="ngModel" name="price" required [(ngModel)]="vehicleModel.price" [class.is-invalid]="price.invalid && price.touched" (ngModelChange)="clearTooExpensiveError()"/>
                <mat-hint *ngIf="(price.value > 10000) || tooExpensiveError" class="visualErrorMessage">The price must be lower than 10.000!</mat-hint>
                <mat-hint *ngIf="price.touched && price.errors?.required" class="visualErrorMessage">Vehicle price is required!</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Electric vehicle</mat-label>
                <mat-select #electric="ngModel" name="electric" required [(ngModel)]="vehicleModel.electric" [class.is-invalid]="electric.invalid && electric.touched">
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
                <mat-hint *ngIf="electric.touched && electric.errors?.required" class="visualErrorMessage">You need to specify if the vehicle is electric or not!</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="generateParkingTicketForm.form.invalid || price.value > 10000" type="submit">Generate parking ticket</button>
        </form>
    </div>

    <div *ngSwitchCase="'leaveParkingLot'">
        <form #leaveParkingLotForm="ngForm" (ngSubmit)="doLeaveParkingLot()" novalidate>
            <mat-form-field appearance="outline">
                <mat-label>Parking spot id</mat-label>
                <mat-select #spotId="ngModel" name="spotId" required [(ngModel)]="parkingSpotId" [class.is-invalid]="spotId.invalid && spotId.touched">
                    <mat-option *ngFor="let ticket of parkingLotStatus.tickets" [value]="ticket.parkingSpot.id">(Spot {{ ticket.parkingSpot.id }}) - {{ ticket.vehicle.driver.name }}, VIP: {{ ticket.vehicle.driver.vipStatus }} - Vehicle: {{ ticket.vehicle.vehicleType }}</mat-option>
                </mat-select>
                <mat-hint *ngIf="spotId.touched && spotId.errors?.required" class="visualErrorMessage">Parking spot id is required!</mat-hint>
            </mat-form-field>
            <button mat-raised-button [disabled]="leaveParkingLotForm.form.invalid" color="primary" type="submit">Leave parking lot</button>
        </form>
    </div>

</div>
