<div class="flex-container">
    <form #registerUser="ngForm" (ngSubmit)="register(username.value, password.value)" novalidate>
        <legend><h2><u>Register VIP User</u></h2></legend>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput ngModel name="user" #username required />
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput ngModel name="pass" type="password" #password required />
        </mat-form-field><br>
    
        <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
</div>
